{% extends "projects/base_template.html" %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}

{% block body %}
{% if form.errors %}
<div class="alert alert-danger">Please check your username and password and try again.</div>
{% endif %}

<form method="post" action="{% url 'login_view' %}">
{% csrf_token %}
<div class="fieldwrapper form-group" style="width:50%;">
    <label class="" for="id_username">Username:</label>{{ form.username|add_class:"form-control" }}
</div>
<div class="fieldwrapper form-group" style="width:50%;">
    <label class="" for="id_password">Password:</label>{{ form.password|add_class:"form-control" }}
</div>

<button class="btn btn-primary" type="submit" value="login">Login</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}