ul {
	margin-left: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
}

li {
	margin-top: 4px;
	margin-bottom: 4px;
}

ul li {
	margin-left: 15px;
}

ul ul {
	margin-left: 20px;
}

.strike {
	text-decoration: line-through;
}