.navbar-inverse .navbar-nav>li>a {color: #ddd;}

ul {
	margin-left: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
}

li {
	margin-top: 4px;
	margin-bottom: 4px;
}

ul li {
	margin-left: 15px;
}

ul ul {
	margin-left: 20px;
}

.signboard {
	font-size: 48px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #ccc;
}

.message {
	font-size: 24px;	
}

.strike {
	text-decoration: line-through;
}

#sidebar {
	border-right: 1px solid black;
}

.small-text {
	font-size: 12px;
}

.project-label {
	margin-left: 6px;
}

.task-buttons, .link-buttons, .comment-buttons {
	padding-top: 16px;
}

.even {
	background-color: #eee;
}

.tasklist-row {
	padding-top: 5px;
}

.tasklist-description-row {
	padding-bottom: 5px;
}