.navbar-inverse .navbar-nav>li>a {color: #ddd;}

ul {
	margin-left: 10px;
	margin-top: 4px;
	margin-bottom: 4px;
}

li {
	margin-top: 4px;
	margin-bottom: 4px;
}

ul li {
	margin-left: 15px;
}

ul ul {
	margin-left: 20px;
}

.signboard {
	font-size: 48px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #ccc;
}

.message {
	font-size: 24px;	
}

.strike {
	text-decoration: line-through;
}

#sidebar {
	border-right: 1px solid black;
}

#sidebar .pm-list, #sidebar .am-list {
	list-style-type: none;
	padding-left: 5px;
}

.small-text {
	font-size: 12px;
}

.project-label {
	margin-left: 6px;
}

.task-buttons, .link-buttons, .comment-buttons {
	padding-top: 16px;
}

.even {
	background-color: #ddd;
}

.even, .odd {
	padding-top: 6px;
}

.tasklist-row {
	padding-top: 5px;
}

.tasklist-description-row {
	padding-bottom: 5px;
}

ul.no-bullets {
	list-style-type: none;
}

.project-list-row, .tasklist-list-row {
	padding: 2px 0 2px 15px;
}

.tasklist-description {
	color: #777;
}

.tasklist-template-list {
	list-style-type: none;
}

.checkbox-label {
	padding-left: 5px;
}

.tasklist-template-list > ul {
	list-style-type: none;
}

.tasklist-template-list > ul li::before {
	content: "Task: ";
}

.cancel-link {
	margin-left: 10px;
}

hr.separator {
	margin: 20px 50px;
	border: 1px solid #121212;
}

.task-dependency-list {
	margin-left: 0;
	padding-left: 0;
}

.risk-label {
	margin-left: 3px;
}

.expandable {
	display: none;
}

.expandable-indicator {
	
}

.comment_holder{
	font-size:15px;	
}

.comment_count{
	margin-left: -10px;
	color: #fff;
	font-size: 9px;
	position: absolute;	
}
