{% extends 'projects/base_template.html' %}
{% load widget_tweaks %}
{% block title %}{{ add_or_edit }} Comment{% endblock %}
{% block projectdetaillink %}{% url 'project_detail' project_id %}{% endblock %}
{% block projectname %}{{ acctName }}{% endblock %}

{% block body %}
<h2>{{ add_or_edit }} Comment</h2>
<form method="post" action="">{% csrf_token %}
{% if form.non_field_errors %}
<div class="alert alert-danger">
{{ form.non_field_errors }}
</div>
{% endif %}
<div class="helper-text">Comments support <a href="https://daringfireball.net/projects/markdown/basics" target="_blank"><strong>Markdown</strong></a> syntax.</div>
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.description.errors %}<div class="alert alert-danger">{{ form.description.errors }}</div>{% endif %}
	{{ form.description|add_class:"form-control" }}
</div>
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.attachment.errors %}<div class="alert alert-danger">{{ form.attachment.errors }}</div>{% endif %}
	<label class="" for="id_name">Attachment: (doesn't work yet)</label>{{ form.attachment|add_class:"form-control" }}
</div>

<button class="btn btn-primary" type="submit" value="submit">Submit</button> 
</form>
{% endblock %}