<h1>{{ project.acctName }}</h1>
<h2>{{ project.category }}</h2>
<p><a href="{% url 'project_edit' project.id %}">Edit project</a></p>
<p>Project Manager: {{ project.PM }}</p>
<p>{{ project.startDate }} - {{ project.endDate }}</p>
<p>
{% if project.isCompleted %}
Completed on {{ project.completedDate }}
{% else %}
<a href="#">Mark project completed</a>
{% endif %}
{% if not project.isArchived %}
<p><a href="#">Archive project</a></p>
{% endif %}
<h3>Tasks</h3>
<ul>
	{% for task in project.task_set.all %}
		<li><a href="{% url 'task_detail' project.id task.id %}">{{ task.name }}</a> <a href="{% url 'task_edit' project.id task.id %}">(Edit)</a></li>
	{% endfor %}
</ul>
<p><a href="{% url 'task_add' project.id %}">Add task</a></p>
<h3>Risks</h3>
<ul>
	{% for risk in project.risk_set.all %}
		<li>{{ risk.name }}</li>
	{% endfor %}
</ul>
<h3>Links</h3>
<ul>
	{% for link in project.link_set.all %}
		<li><a href="{{ link.code }}">{{ link.name }}</a></li>
	{% endfor %}
</ul>
<p><a href="{% url 'link_add' project.id %}">Add link</a></p>
