{% extends 'projects/base_template.html' %}
{% block title %}Home{% endblock %}
{% block projectdetaillink %}{% endblock %}
{% block projectname %}WPEOPM{% endblock %}

{% block sidebar %}
{% if PM_list %}
<p><strong>Project Managers</strong></p>
<ul>
	{% for PM in PM_list %}
	<li><a href="{% url 'project_by_pm' PM.PM__username %}">{{ PM.PM__username }}</a></li>
	{% endfor %}
</ul>
{% endif %}
{% if AM_list %}
<p><strong>Account Managers</strong></p>
<ul>
	{% for AM in AM_list %}
	<li>{{ AM }}</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block subnavlinks %}
<li><a href="{% url 'project_add' %}">Add project</a></li>
{% endblock %}

{% block body %}
<h1>Latest projects</h1>
{% if latest_project_list %}
<ul>
	{% for project in latest_project_list %}
	<li><a href="{% url 'project_detail' project.id %}">{{ project.acctName }}</a> <span class="label label-primary">{% if project.PM %}{{ project.PM }}{% else %}Unassigned{% endif %}</span></li>
	{% endfor %}
</ul>
{% else %}
<p>No projects are available.</p>
{% endif %}

{% if active_project_list %}
<h1>Active projects</h1>
<ul>
	{% for project in active_project_list %}
	<li><a href="{% url 'project_detail' project.id %}">{{ project.acctName }}</a> <span class="label label-primary">{% if project.PM %}{{ project.PM }}{% else %}Unassigned{% endif %}</span></li>
	{% endfor %}
</ul>
{% endif %}
{% if archived_project_list %}
<h1>Archived projects</h1>
<ul>
	{% for project in archived_project_list %}
	<li><a href="{% url 'project_detail' project.id %}">{{ project.acctName }}</a> <span class="label label-primary">{% if project.PM %}{{ project.PM }}{% else %}Unassigned{% endif %}</span></li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}