{% extends 'projects/base_template.html' %}
{% block title %}Home{% endblock %}
{% block projectdetaillink %}{% endblock %}

{% block sidebar %}
{% if PM_list %}
<strong>Project Managers</strong>
<ul class="pm-list">
	{% for PM in PM_list %}
	<li><a href="{% url 'project_by_pm' PM.PM__username %}">{{ PM.PM__username }}</a></li>
	{% endfor %}
</ul>
{% endif %}
{% if AM_list %}
<p><strong>Account Managers</strong></p>
<ul class="am-list">
	{% for AM in AM_list %}
	<li><a href="{% url 'project_by_am' AM %}">{{ AM }}</a></li>
	{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block subnavlinks %}
<li><a href="{% url 'project_add' %}">Add project</a></li>
{% endblock %}

{% block body %}
<h1>Active projects</h1>
{% if active_project_list %}

	{% for project in active_project_list %}
	<div class="row project-list-row  {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"><a href="{% url 'project_detail' project.id %}">{{ project.acctName }}</a> <span class="label label-primary">{% if project.PM %}{{ project.PM }}{% else %}Unassigned{% endif %}</span> <span class="label label-{% if project.riskScore >= 2 %}danger{% elif project.riskScore > 0 %}warning{% else %}success{% endif %}">Risk Score: {{ project.riskScore }}</span></div>
	{% endfor %}

{% else %}
<p>There are no active projects.</p>
{% endif %}
{% if projects_completed_this_week %}
<h1>Completed This Week</h1>
{% for project in projects_completed_this_week %}
	<div class="row project-list-row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"><a href="{% url 'project_detail' project.id %}">{{ project.acctName }}</a> <span class="label label-success">{{ project.completedDate }}</span></div>
{% endfor %}
{% endif %}
{% if archived_project_list %}
<h1>Archived projects</h1>

	{% for project in archived_project_list %}
	<div class="row project-list-row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"><a href="{% url 'project_detail' project.id %}">{{ project.acctName }}</a> <span class="label label-primary">{% if project.PM %}{{ project.PM }}{% else %}Unassigned{% endif %}</span></div>
	{% endfor %}
{% endif %}
{% endblock %}