{% extends 'projects/base_template.html' %}
{% load widget_tweaks %}
{% block title %}Edit Link{% endblock %}
{% block projectdetaillink %}{% url 'project_detail' link.project.id %}{% endblock %}
{% block projectname %}{{ link.project.acctName }}{% endblock %}

{% block body %}
<h2>Edit Link</h2>
<form method="post" action="">{% csrf_token %}
{% if form.non_field_errors %}
<div class="alert alert-danger">
{{ form.non_field_errors }}
</div>
{% endif %}
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.name.errors %}<div class="alert alert-danger">{{ form.name.errors }}</div>{% endif %}
	<label class="" for="id_name">Link Name:</label>{{ form.name|add_class:"form-control" }}
</div>
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.description.errors %}<div class="alert alert-danger">{{ form.description.errors }}</div>{% endif %}
	<label class="" for="id_description">Link Description:</label>{{ form.description|add_class:"form-control" }}
</div>
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.code.errors %}<div class="alert alert-danger">{{ form.code.errors }}</div>{% endif %}
	<label class="" for="id_description">Link Code:</label>{{ form.code|add_class:"form-control" }}
</div>
<button class="btn btn-primary" type="submit" value="submit">Submit</button> <a href="{% if link.id %}{% url 'link_detail' link.project.id link.id %}{% else %}{% url 'project_links' link.project.id %}{% endif %}">Cancel</a>
</form>
{% endblock %}