{% extends 'projects/base_template.html' %}
{% load as_markdown %}
{% block title %}Link Detail{% endblock %}
{% block projectdetaillink %}{% url 'project_detail' link.project.id %}{% endblock %}
{% block projectname %}{{ link.project.acctName }}{% endblock %}

{% block subnavlinks %}
<li><a href="{% url 'link_edit' link.project.id link.id %}">Edit link</a></li>
<li><a href="{% url 'project_links' link.project.id %}">Show all links</a></li>
{% endblock %}

{% block body %}
<div class="row">
	<div class="h1 col-sm-4">{{ link.name }}</div>
	<div class="col-sm-2"></div>
	<div class="col-sm-2"></div>
</div>
{% if link.description %}
<p>{{ link.description }}</p>
{% endif %}
<p><a target="blank" href="{{ link.code }}">{{ link.code }}</a></p>
<div class="row">
	<div class="col-sm-2"><h3>Comments</h3></div>
	<div class="comment-buttons col-sm-10"><a class="btn btn-primary" href="{% url 'comment_add' 'link' link.id %}">Add comment</a></div>
</div>
{% if link.comment_set.all %}

	{% for comment in link.comment_set.all %}
	<div class="row">
		<div class="col-sm-2"><a class="btn btn-xs btn-info" href="{% url 'comment_edit' 'link' link.id comment.id %}">Edit</a> <a class="btn btn-xs btn-warning" href="{% url 'comment_detail' 'link' link.id comment.id %}">Detail</a></div>
		<div class="col-sm-10">{{ comment.description|as_markdown|safe }} </div>
	</div>
	{% endfor %}

{% endif %}
{% endblock %}