{% extends 'projects/base_template.html' %}
{% block title %}Edit Project{% endblock %}
{% block projectdetaillink %}{% if project.id %}{% url 'project_detail' project.id %}{% else %}{% url 'index' %}{% endif %}{% endblock %}
{% block projectname %}{{ project.acctName }}{% endblock %}

{% block body %}
<h1>Edit project</h1>
<form method="post" action="">{% csrf_token %}
{{ form.as_p }}
<button class="btn btn-success" type="submit" value="submit">Submit</button> <a href="{% url 'index' %}">Cancel</a>
</form>
{% endblock %}