{% extends 'projects/base_template.html' %}
{% block title %}{{ project.acctName }} Links{% endblock %}
{% block projectdetaillink %}{% url 'project_detail' project.id %}{% endblock %}
{% block projectname %}{{ project.acctName }}{% endblock %}

{% block body %}
<h3>Links for {{ project.acctName }}</h1>
<ul>
	{% for link in project.link_set.all %}
		<li><a href="{{ link.code }}">{{ link.name }}</a></li>
	{% endfor %}
</ul>

<p><a class="btn btn-primary" href="{% url 'link_add' project.id %}">Add link</a></p>
{% endblock %}