{% extends 'projects/base_template.html' %}
{% load as_markdown %}
{% load staticfiles %}
{% block projectdetaillink %}#{% endblock %}
{% block title %}Project detail - {{ project.acctName }}{% endblock %}
{% block projectname %}{{ project.acctName }}{% endblock %}

{% block subnavlinks %}
	<li><a href="{% url 'project_edit' project.id %}">Edit</a></li>
	{% if project.status == 'N' %}<li id="start_link"><a id="start_project" href="#">Start Project</a></li>{% endif %}
	{% if not project.isCompleted and project.status == 'I' %}<li id="complete_link"><a id="mark_complete" href="#">Mark Complete</a></li>{% endif %}
	{% if not project.isArchived %}<li id="archive_link"><a id="archive_project" href="#">Archive</a></li>{% endif %}
	{% if not project.isDeleted %}<li id="delete_link"><a id="delete_project" href="#">Delete</a></li>{% endif %}
	<li id="clone_link"><a id="clone_project" href="{% url 'project_clone' project.id %}">Clone</a></li>
{% endblock %}

{% block body %}
<h1>{{ project.acctName }}<span class="project-label small-text label label-primary" id="is_archived">{% if project.isArchived %}Archived{% endif %}</span><span class="project-label small-text label label-danger" id="is_deleted">{% if project.isDeleted %}Deleted{% endif %}</span></h1>
<p>
	<span class="h3">{{ project.category }}</span> - <span class="h4">Destination pod: {% if project.destPod %}{{ project.destPod }}{% else %}None{% endif %}</span>
</p>
<p>Project Manager: {{ project.PM }}</p>
{% if project.AM %}
<p>Account Manager: {{ project.AM }}</p>
{% endif %}
<p>{{ project.startDate }} - {{ project.endDate }}</p>
<p class="status">
<p class="status-label-container"><span class="small-text label label-{% if project.status == 'N' %}warning">Not started{% elif project.status == 'I' %}info">In progress{% else %}success">Complete{% endif %}</span></p>
{% if project.status == 'C' %}
Completed on {{ project.completedDate }}
{% endif %}
<p class="project-risk">
	<div class="label label-{% if project.riskScore >= 2 %}danger{% elif project.riskScore > 0 %}warning{% else %}success{% endif %}">Risk Score: {{ project.riskScore }}</div>
	<h4>Risk indicators</h4>
	<div class="row">
		<div class="col-sm-2"><strong>Customer engaged:</strong><span class="risk-label label label-{% if project.customerEngaged %}success">Yes{% else %}danger">No{% endif %}</span></div>
		<div class="col-sm-2"><strong>Handoff type:</strong><span class="risk-label label label-{% if project.handoffType == "W" %}success">Warm{% elif project.handoffType == "C" %}info">Cold{% else %}danger">None{% endif %}</span></div>
		<div class="col-sm-3"><strong>Last ticket response:</strong><span class="risk-label label label-{% if project.recentLastTicketResponseDate %}success{% else %}danger{% endif %}">{{ project.lastTicketResponseDate }}</span></div>
		<div class="col-sm-3"><strong>Number of ZenDesk tickets:</strong><span class="risk-label label label-{% if project.otherTickets <= 2 %}success{% else %}danger{% endif %}">{{ project.otherTickets }}</span></div>
		<div class="col-sm-2"><strong>Launch date:</strong><span class="risk-label label label-{% if project.customerLaunchDate %}success{% else %}danger{% endif %}">{{ project.customerLaunchDate }}</span></div>
	</div>
</p>
<hr class="separator" />
<div class="row">
<div class="col-sm-2"><h3>Tasks</h3></div>
<div class="col-sm-10 task-buttons">
	<button class="btn btn-warning" id="assign_all_tasks">Assign all tasks to project PM</button>
	<a class="btn btn-primary" href="{% url 'tasklist_add' project.id %}">Add tasklist</a>
	<a class="btn btn-success" href="{% url 'tasklist_add_from_template' project.id %}">Add tasklist from template</a>
</div>
</div>
{% if project.tasklist_set.all %}

	{% for tasklist in project.tasklist_set.all %}
	<div class="row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<div class="col-sm-2"><a class="tasklist_edit btn btn-xs btn-info" href="{% url 'tasklist_edit' project.id tasklist.id %}">Edit</a> <a class="tasklist_tasks_add btn btn-xs btn-success" href="{% url 'task_add' tasklist.id %}">Add task</a></div>
		<div class="col-sm-10"><a href="{% url 'tasklist_detail' project.id tasklist.id %}">{{ tasklist.name }}</a></div>
	</div>
		{% if tasklist.task_set.all %}
		<ul>
		{% for task in tasklist.task_set.all %}
			{% if not task.status == 'C' %}
			<li><span class="label label-default">{% if task.PM %}{{ task.PM }}{% else %}Unassigned{% endif %}</span> <a href="{% url 'task_detail' tasklist.id task.id %}">{{ task.name }}</a> <span>{% if task.dueDate %}due {{ task.dueDate }}{% else %}no due date{% endif %}</span> <a class="task_edit btn btn-xs btn-info" href="{% url 'task_edit' tasklist.id task.id %}">Edit</a>
				{% if task.can_be_completed %}
				<a class="task_complete btn btn-xs btn-warning" id="task_{{ task.id }}" aria-tasklistid="{{ tasklist.id }}" aria-taskid="{{ task.id }}">Done</a>
				<a class="task-delete btn btn-xs btn-danger" id="id_task_delete_{{ task.id }}" aria-tasklistid="{{ tasklist.id }}" aria-taskid="{{ task.id }}">Delete</a>
				{% else %}
				<span class="label label-primary small-text">Has Dependencies</span>
				{% endif %}
			</li>
			{% elif task.status == 'C' %}
			<li><span class="label label-default">{% if task.PM %}{{ task.PM }}{% else %}Unassigned{% endif %}</span> <a href="{% url 'task_detail' tasklist.id task.id %}"><strike>{{ task.name }}</strike></a>
			{% comment %}
			{% if task.comment_set.all %}
			<span class="expandable-indicator"> + </span>
			<ul class="expandable">
				{% for task_comment in task.comment_set.all %}
				<li>{{ task_comment.description|as_markdown|safe }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endcomment %}
			</li>
		  	{% endif %}
		{% endfor %}
		</ul>
		{% endif %}
	{% endfor %}

{% else %}
<p>This project has no tasks.</p>
{% endif %}
{% comment %}
<hr class="separator" />
<h3>Risks</h3>
<ul>
	{% for risk in project.risk_set.all %}
		<li>{{ risk.name }}</li>
	{% endfor %}
</ul>
{% endcomment %}
<hr class="separator" />
<div class="row">
	<div class="col-sm-2"><h3>Links</h3></div>
	<div class="link-buttons col-sm-10"><a class="btn btn-primary" href="{% url 'link_add' project.id %}">Add link</a></div>
</div>
{% if project.link_set.all %}

	{% for link in project.link_set.all %} 
	<div class="row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<div class="col-sm-2"><a class="link-edit btn btn-xs btn-info" href="{% url 'link_edit' project.id link.id %}">Edit</a> <a class="link-detail btn btn-xs btn-warning" href="{% url 'link_detail' project.id link.id %}">Detail</a></div>
		<div class="col-sm-10"><a target="blank" href="{{ link.code }}">{{ link.name }}</a></div>
		{% comment %}
		{% if link.comment_set.all %}
			<span class="expandable-indicator"> + </span>
			<ul class="expandable">
				{% for link_comment in link.comment_set.all %}
				<li>{{ link_comment.description|as_markdown|safe }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		{% endcomment %}
	</div>
	{% endfor %}

{% else %}
<p>This project has no links.</p>
{% endif %}
<hr class="separator" />
<div class="row">
	<div class="col-sm-2"><h3>Comments</h3></div>
	<div class="comment-buttons col-sm-10"><a class="btn btn-primary" href="{% url 'comment_add' 'project' project.id %}">Add comment</a></div>
</div>
{% if project.comment_set.all %}

	{% for comment in project.comment_set.all %}
	<div class="row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
		<div class="col-sm-2"><a class="btn btn-xs btn-info" href="{% url 'comment_edit' 'project' project.id comment.id %}">Edit</a> <a class="btn btn-xs btn-warning" href="{% url 'comment_detail' 'project' project.id comment.id %}">Detail</a></div>
		<div class="col-sm-10">{{ comment.description|as_markdown|safe }} </div>
	</div>
	{% endfor %}

{% else %}
<p>This project has no comments.</p>
{% endif %}
<div class="modal fade" id="id_cancel_task_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Delete Task</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this task? This cannot be undone!<span class="modal-task-title"></span></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="id_task_delete">Delete task</button>
			</div>
		</div>
	</div>
</div>

{% csrf_token %}
{% endblock %}

{% block body_js %}
<script src="{% static 'projects/js/jquery.cookie.js' %}"></script>
<script type="text/javascript">
	function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	$.ajaxSetup({
		// add the CSRF token to the request header by default for all POST requests
	    beforeSend: function(xhr, settings) {
			var csrftoken = $.cookie('csrftoken');
	        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});

	$('#start_project').click(function() {
		$.ajax({
			type: "POST",
			url: "/projects/{{ project.id }}/start/",
			success: function (result, textStatus, xmlhttprequest) {
				code = $.parseJSON(xmlhttprequest.responseText).HTTPRESPONSE;
				if (code == 1) {
					location.reload();
				}
			}
		});
	});

	$('#archive_project').click(function() {
		$.ajax({
			type: "POST",
			url: "/projects/{{ project.id }}/archive/",
			success: function(result, textStatus, xmlhttprequest) {
				code = $.parseJSON(xmlhttprequest.responseText).HTTPRESPONSE;
				if (code == 1) {
					$('#archive_link').hide();
					$('#is_archived').html('Archived');		
				}
			}
		});
	});

	$('#delete_project').click(function() {
		$.ajax({
			type: "POST",
			url: "/projects/{{ project.id }}/delete/",
			success: function(result, textStatus, xmlhttprequest) {
				code = $.parseJSON(xmlhttprequest.responseText).HTTPRESPONSE;
				if (code == 1) {
					$('#delete_link').hide();
					$('#is_deleted').html('Deleted');		
				}
			}
		});
	});

	$('#mark_complete').click(function() {
		$.ajax({
			type: "POST",
			url: "/projects/{{ project.id }}/complete/",
			success: function(result, textStatus, xmlhttprequest) {
				code = $.parseJSON(xmlhttprequest.responseText).HTTPRESPONSE;
				if (code == 1) {
					location.reload()
				}
			}
		});
	});

	$('.task_complete').click(function() {
		var tasklistid = $(this).attr('aria-tasklistid');
		var taskid = $(this).attr('aria-taskid');
		$.ajax({
			type: "POST",
			url: "/projects/tasklist/" + tasklistid + "/task/" + taskid + "/complete/",
			success: function(result, textStatus, xmlhttprequest) {
				code = $.parseJSON(xmlhttprequest.responseText).HTTPRESPONSE;
				if (code == 1) {
					location.reload(); // going with reload to refresh dependencies
				}
			}
		});
	});

	$('.task-delete').click(function() {
		var tasklistid = $(this).attr('aria-tasklistid');
		var taskid = $(this).attr('aria-taskid');
		// display modal
		$('#id_cancel_task_modal').modal();
		$('#id_task_delete').attr('aria-tasklistid', tasklistid);
		$('#id_task_delete').attr('aria-taskid', taskid);
	});

	$('#id_task_delete').click(function() {
		var tasklistid = $(this).attr('aria-tasklistid');
		var taskid = $(this).attr('aria-taskid');
		$.ajax({
			type: "POST",
			url: "/projects/tasklist/" + tasklistid + "/task/" + taskid + "/delete/",
			success: function(result, textStatus, xmlhttprequest) {
				code = $.parseJSON(xmlhttprequest.responseText).HTTPRESPONSE;
				if (code == 1) {
					location.reload();
				}
			}
		});
	});

	$('#assign_all_tasks').click(function() {
		$.ajax({
			type: "POST",
			url: "/projects/{{ project.id }}/all_tasks_to_project_pm/",
			success: function(result, textStatus, xmlhttprequest) {
				code = $.parseJSON(xmlhttprequest.responseText).HTTPRESPONSE;
				if (code == 1) {
					location.reload();
				}
			}
		});
	});

	{% comment %}
	$('.expandable-indicator').click(function () {
		var $content = $(this).find(">:first-child");
		$content.slideToggle(500, function() {
			// execute this after slideToggle is done
			$('.expandable-indicator').text(function () {
				// change text based on condition
				return $content.is(":visible") ? "-" : "+";
			});
		});
	});
	{% endcomment %}

</script>
{% endblock %}