{% extends "projects/base_template.html" %}

{% block body %}
<h1>Release Notes</h1>
<p>Bugfixes and cosmetic fixes not included</p>
<h2>August 4, 2014</h2>
<ul>
<li>Added Google OAuth2 sign-in</li>
<li>Added stats dashboard</li>
</ul>
<h2>July 31, 2014</h2>
<ul>
<li>Added preview comment button</li>
<li>Fixed project alphabetical ordering</li>
<li>Added ability to delete tasks</li>
</ul>
<h2>July 29, 2014</h2>
<ul>
<li>Can now start projects from project detail page</li>
<li>Added markdown capability to comments</li>
</ul>
<h2>July 28, 2014</h2>
<ul>
<li>Added "completed tasks this week" to project list page</li>
<li>Added ability to view completed tasks</li>
<li>Added Destination Pod to project</li>
</ul>
<h2>July 22, 2014</h2>
<ul>
<li>Added status field for projects and tasks</li>
<li>Added task dependencies</li>
</ul>
<h2>July 21, 2014</h2>
<ul>
<li>Implement project "risk score"</li>
</ul>
<h2>July 18, 2014</h2>
<ul>
<li>Implemented API</li>
</ul>
<h2>July 16, 2014</h2>
<ul>
<li>Implemented "clone project"</li>
</ul>
<h2>July 15, 2014</h2>
<ul>
<li>Initial release</li>
</ul>
{% endblock %}