{% extends 'projects/base_template.html' %}
{% load staticfiles %}
{% block title %}Manage Task Lists{% endblock %}

{% block subnavlinks %}
<li><a href="{% url 'tasklist_add' 0 %}">Add Task List Template</a></li>
{% endblock %}

{% block body %}
<h2>Template Task Lists</h2>
<p>Use these task list templates to more easily add groups of related tasks to your project.</p>
{% if tasklist_template_list %}

	{% for tasklist in tasklist_template_list %}
<div class="tasklist-list-row row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
	<div class="col-sm-3">{{ tasklist.name }}</div>
	<div class="col-sm-9"><a class="btn btn-info btn-xs" href="{% url 'tasklist_edit' 0 tasklist.id %}">Edit Details</a>
	<a class="btn btn-warning btn-xs" href="{% url 'tasklist_tasks' tasklist.id %}">View/Add Tasks</a>
	<a class="btn btn-danger btn-xs delete_tasklist" aria-tasklistid="{{ tasklist.id }}" href="#">Delete Task List</a></div>
</div>
<div class="tasklist-description-row row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}"><div class="col-sm-12 col-sm-offset-1"><div class="tasklist-description">{{ tasklist.description }}</div></div></div>
		{% if tasklist.task_set.all %}
		<ul>
		{% for task in tasklist.task_set.all %}
			<li>{{ task.name }}</li>
		{% endfor %}
		</ul>
		{% endif %}
	{% endfor %}
{% else %}
<p>There are no task list templates.</p>
{% endif %}
{% endblock %}

{% block body_js %}
<script src="{% static 'projects/js/jquery.cookie.js' %}"></script>
<script type="text/javascript">
	function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	$.ajaxSetup({
		// add the CSRF token to the request header by default for all POST requests
	    beforeSend: function(xhr, settings) {
			var csrftoken = $.cookie('csrftoken');
	        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});

	$('.delete_tasklist').click(function() {
		var tasklistid = $(this).attr('aria-tasklistid');
		$.ajax({
			type: "POST",
			url: "/projects/0/tasklist/" + tasklistid + "/delete/",
			success: function(result, textStatus, xmlhttprequest) {
				code = $.parseJSON(xmlhttprequest.responseText).HTTPRESPONSE;
				if (code == 1) {
					location.reload()
				}
			}
		});
	});
</script>
{% endblock %}