{% extends 'projects/base_template.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}Edit Task{% endblock %}

{% block head_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'projects/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block body %}
<h2>Edit Task</h2>
<form method="post" action="">{% csrf_token %}
{% if form.non_field_errors %}
<div class="alert alert-danger">
{{ form.non_field_errors }}
</div>
{% endif %}
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.tasklist.errors %}<div class="alert alert-danger">{{ form.tasklist.errors }}</div>{% endif %}
	<label class="" for="id_name">Task List:</label>{{ form.tasklist|add_class:"form-control" }}
</div>
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.name.errors %}<div class="alert alert-danger">{{ form.name.errors }}</div>{% endif %}
	<label class="" for="id_description">Task Name:</label>{{ form.name|add_class:"form-control" }}
</div>
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.PM.errors %}<div class="alert alert-danger">{{ form.PM.errors }}</div>{% endif %}
	<label class="" for="id_description">Project Manager:</label>{{ form.PM|add_class:"form-control" }}
</div>
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.startDate.errors %}<div class="alert alert-danger">{{ form.startDate.errors }}</div>{% endif %}
	<label class="" for="id_startDate">Task Start Date:</label>
	<div class="input-group date" id="startDate_datetimepicker" data-date="{{ task.startDate|date:"m-d-y" }}" data-date-format="MM-DD-YY">
		<input class="form-control" type="text" value="{{ task.startDate|date:"m-d-y" }}">
		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	</div>
</div>
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.endDate.errors %}<div class="alert alert-danger">{{ form.endDate.errors }}</div>{% endif %}
	<label class="" for="id_endDate">Task End Date:</label>
	<div class="input-group date" id="endDate_datetimepicker" data-date="{{ task.endDate|date:"m-d-y" }}" data-date-format="MM-DD-YY">
		<input class="form-control" type="text" value="{{ task.endDate|date:"m-d-y" }}">
		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	</div>
</div>
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.dueDate.errors %}<div class="alert alert-danger">{{ form.dueDate.errors }}</div>{% endif %}
	<label class="" for="id_endDate">Task Due Date:</label>
	<div class="input-group date" id="dueDate_datetimepicker" data-date="{{ task.dueDate|date:"m-d-y" }}" data-date-format="MM-DD-YY">
		<input class="form-control" type="text" value="{{ task.dueDate|date:"m-d-y" }}">
		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	</div>
</div>
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.description.errors %}<div class="alert alert-danger">{{ form.description.errors }}</div>{% endif %}
	<label class="" for="id_description">Description:</label>{{ form.description|add_class:"form-control" }}
</div>
<div class="fieldWrapper form-group" style="width:50%">
	{% if form.completedDate.errors %}<div class="alert alert-danger">{{ form.completedDate.errors }}</div>{% endif %}
	<label class="" for="id_completedDate">Task Completed Date:</label>
	<div class="input-group date" id="completedDate_datetimepicker" data-date="{{ task.completedDate|date:"m-d-y" }}" data-date-format="MM-DD-YY">
		<input class="form-control" type="text" value="{{ task.completedDate|date:"m-d-y" }}">
		<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
	</div>
</div>
<button class="btn btn-primary" type="submit" value="submit">Submit</button>
</form>
{% endblock %}

{% block body_js %}
<script src="{% static 'projects/js/moment.min.js' %}"></script>
<script src="{% static 'projects/js/bootstrap-datetimepicker.js' %}"></script>
<script type="text/javascript">
	$(function() {
		$('#startDate_datetimepicker').datetimepicker({
			pickTime: false
		});
		$('#endDate_datetimepicker').datetimepicker({
			pickTime: false
		});
		$('#dueDate_datetimepicker').datetimepicker({
			pickTime: false
		});
		$('#completedDate_datetimepicker').datetimepicker({
			pickTime: false
		});
	});
</script>
{% endblock %}
