{% extends 'projects/base_template.html' %}
{% block title %}{{ tasklist.name }} Tasks{% endblock %}
{% block projectname %}{% if tasklist.project.id %}{{ tasklist.project.acctName }}{% else %}Template{% endif %}{% endblock %}
{% block projectdetaillink %}{% if tasklist.project.id %}{% url 'project_detail' tasklist.project.id %}{% else %}{% url 'tasklist_manage' %}{% endif %}{% endblock %}

{% block subnavlinks %}
<li><a href="{% url 'task_add' tasklist.id %}">Add task</a></li>
{% endblock %}

{% block body %}
<h3>Tasks for {{ tasklist.name }}</h1>
<ul>
	{% for task in tasklist.task_set.all %}
		<li>{{ task.name }}</li>
	{% endfor %}
</ul>


{% endblock %}