{% extends 'projects/base_template.html' %}
{% block title %}Task{% endblock %}

{% block subnavlinks %}
<li><a href="{% url 'task_edit' task.tasklist.id task.id %}">Edit this task</a></li>
<li><a href="{% url 'tasklist_detail' task.tasklist.project.id task.tasklist.id %}">Go to task list</a></li>
{% endblock %}

{% block body %}
<div class="row">
	<h2>{{ task.name }}</h2>
	{% if task.status == 'C' %}
	<span class="label label-danger col-sm-2">Not Started</span>
	{% elif task.status == 'I' %}
	<span class="label label-warning col-sm-2">In Progress</span>
	{% elif task.status == 'C' %}
	<span class="label label-success col-sm-2">Completed</span>
	{% endif %}
</div>
<div class="row">
	<div class="col-sm-6">Belongs to
	{% if task.tasklist.project %}
	<strong>{{ task.tasklist.project.acctName }}</strong>
	{% else %}
	{{ task.tasklist.name }} (Template)
	{% endif %}
	</div>
</div>
<div class="row"><div class="col-sm-12">Project Manager: {% if task.PM %}{{ task.PM }}{% else %}None assigned{% endif %}</div></div>
<div class="row"><div class="col-sm-12">{% if task.startDate %}{{ task.startDate }} - {{ task.endDate }}{% else %}No dates assigned{% endif %}</div></div>
{% if task.description %}
<h3>Description</h3>
<p>{{ task.description }}</p>
{% endif %}
{% if task.has_dependencies %}
<h3>Dependencies</h3>
<ul>
{% for t in task.task_set.all %}
<li><a href="{% url 'task_detail' task.tasklist.id t.dependsOn.id %}">{{ t.dependsOn.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}