{% extends 'projects/base_template.html' %}
{% load as_markdown %}
{% block title %}Task{% endblock %}

{% block projectname %}{% if task.tasklist.project %}{{ task.tasklist.project.acctName }}{% else %}Template{% endif %}{% endblock %}
{% block projectdetaillink %}{% if task.tasklist.project %}{% url 'project_detail' task.tasklist.project.id %}{% else %}{% url 'tasklist_manage' %}{% endif %}{% endblock %}

{% block subnavlinks %}
<li><a href="{% url 'task_edit' task.tasklist.id task.id %}">Edit this task</a></li>
<li><a href="{% url 'tasklist_detail' task.tasklist.project.id task.tasklist.id %}">Go to task list</a></li>
{% endblock %}

{% block body %}
<div class="row">
	<h2>{{ task.name }}</h2>
	{% if task.status == 'C' %}
	<span class="label label-danger col-sm-2">Not Started</span>
	{% elif task.status == 'I' %}
	<span class="label label-warning col-sm-2">In Progress</span>
	{% elif task.status == 'C' %}
	<span class="label label-success col-sm-2">Completed</span>
	{% endif %}
</div>
<div class="row">
	<div class="col-sm-6">Belongs to
	{% if task.tasklist.project %}
	<strong>{{ task.tasklist.project.acctName }}</strong>
	{% else %}
	{{ task.tasklist.name }} (Template)
	{% endif %}
	</div>
</div>
<div class="row"><div class="col-sm-12">Project Manager: {% if task.PM %}{{ task.PM }}{% else %}None assigned{% endif %}</div></div>
<div class="row"><div class="col-sm-12">{% if task.startDate %}{{ task.startDate }} - {{ task.endDate }}{% else %}No dates assigned{% endif %}</div></div>
{% if task.description %}
<h3>Description</h3>
<p>{{ task.description }}</p>
{% endif %}
{% if task.has_dependencies %}
<h3>Dependencies</h3>
<ul>
{% for t in task.task_set.all %}
<li><a href="{% url 'task_detail' task.tasklist.id t.dependsOn.id %}">{{ t.dependsOn.name }}</a></li>
{% endfor %}
</ul>
{% endif %}
<div class="row">
	<div class="col-sm-2"><h3>Comments</h3></div>
	<div class="comment-buttons col-sm-10"><a class="btn btn-primary" href="{% url 'comment_add' 'task' task.id %}">Add comment</a></div>
</div>
{% if task.comment_set.all %}
	{% for comment in task.comment_set.all %}
		<div class="row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<div class="col-sm-2"><a class="btn btn-xs btn-info" href="{% url 'comment_edit' 'task' task.id comment.id %}">Edit</a> <a class="btn btn-xs btn-warning" href="{% url 'comment_detail' 'task' task.id comment.id %}">Detail</a></div>
			<div class="col-sm-10">{{ comment.description|as_markdown|safe }}</div>
		</div>
	{% endfor %}
{% else %}
<p>This task has no comments.</p>
{% endif %}
{% endblock %}