{% extends 'projects/base_template.html' %}
{% load staticfiles %}
{% block title %}Task List{% endblock %}
{% block projectname %}{% if tasklist.project.id %}{{ tasklist.project.acctName }}{% else %}Template{% endif %}{% endblock %}
{% block projectdetaillink %}{% if tasklist.project.id %}{% url 'project_detail' tasklist.project.id %}{% else %}{% url 'tasklist_manage' %}{% endif %}{% endblock %}

{% block subnavlinks %}
<li><a href="{% url 'task_add' tasklist.id %}">Add task</a></li>
{% if tasklist.project.id  %}<li><a href="{% url 'project_detail' tasklist.project.id %}">Go to project detail</a></li>{% endif %}
{% endblock %}

{% block body %}

<h2>{{ tasklist.name }}</h2>
<div class="row">
	<div class="col-sm-4"><span class="label label-info">{% if tasklist.project %}{{ tasklist.project.acctName }}{% else %}Template{% endif %}</span></div>
</div>
{% if tasklist.description %}
<h3>Description</h3>
<p>{{ tasklist.description }}</p>
{% endif %}
{% if tasklist.task_set.all %}
<h3>Tasks</h3>
{% for task in tasklist.task_set.all %}
<div class="row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
	<div class="col-sm-2"><span class="label label-primary">{% if task.PM %}{{ task.PM }}{% endif %}</span></div>
	<div class="col-sm-2">{% if task.dueDate %}due {{ task.dueDate }}{% endif %}</div>
	<div class="col-sm-2"><span class="label label-success">{% if task.status == 'C' %}Completed{% endif %}</span></div>
	<div class="col-sm-1"><span class="label label-danger">{% if task.is_past_due %}Overdue{% endif %}</span></div>
</div>
<div class="row {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
	<div class="col-sm-2">
        <a class="task_edit btn btn-xs btn-info" href="{% url 'task_edit' tasklist.id task.id %}">Edit</a>
        {% if task.can_be_completed %}
        <a class="task-delete btn btn-xs btn-danger" id="id_task_delete_{{ task.id }}" aria-tasklistid="{{ tasklist.id }}" aria-taskid="{{ task.id }}">Delete</a>
        {% endif %}
    </div>
	<div class="col-sm-10"><a href="{% url 'task_detail' tasklist.id task.id %}">{{ task.name }} {% if task.numComments > 0 %}({{ task.numComments }} comment{{ task.numComments|pluralize:"s" }}){% endif %}</a></div>
</div>
{% endfor %}
{% endif %}
<div class="modal fade" id="id_cancel_task_modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Delete Task</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this task? This cannot be undone!<span class="modal-task-title"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="id_task_delete">Delete task</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block body_js %}
<script src="{% static 'projects/js/jquery.cookie.js' %}"></script>
<script type="text/javascript">
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        // add the CSRF token to the request header by default for all POST requests
        beforeSend: function(xhr, settings) {
            var csrftoken = $.cookie('csrftoken');
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('.task-delete').click(function() {
        var tasklistid = $(this).attr('aria-tasklistid');
        var taskid = $(this).attr('aria-taskid');
        // display modal
        $('#id_cancel_task_modal').modal();
        $('#id_task_delete').attr('aria-tasklistid', tasklistid);
        $('#id_task_delete').attr('aria-taskid', taskid);
    });

    $('#id_task_delete').click(function() {
        var tasklistid = $(this).attr('aria-tasklistid');
        var taskid = $(this).attr('aria-taskid');
        $.ajax({
            type: "POST",
            url: "/projects/tasklist/" + tasklistid + "/task/" + taskid + "/delete/",
            success: function(result, textStatus, xmlhttprequest) {
                code = $.parseJSON(xmlhttprequest.responseText).HTTPRESPONSE;
                if (code == 1) {
                    location.reload();
                }
            }
        });
    });

</script>
{% endblock %}